<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="../public/js/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../public/js/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/js/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../public/css/define/comm.css">
    <script src="../public/js/lib/jquery.min.js"></script>
    <script src="../public/js/plugins/layer/layer.js"></script>
    <script src="../public/js/lib/bootstrap.min.js"></script>
    <script src="../public/js/lib/vue.min.js"></script>
    <script src="../public/js/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../public/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../public/js/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../public/js/define/common.js"></script>
    <script src="../public/js/lib/ajaxupload.js"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height:auto;
            vertical-align:middle;
            padding-top:2px;
        }
    </style>
</head>
<body>
<section class="layui-app-box">
    <div id="rrapp" v-cloak>
        <div v-show="showList">
            <div class="grid-btn">
                <button v-if="hasPermission('product:save')" class="layui-btn layui-btn-normal" @click="add"><i
                        class="fa fa-plus"></i>&nbsp;新增
                </button>
                <button v-if="hasPermission('product:update')" class="layui-btn layui-btn-warm" @click="update"><i
                        class="fa fa-pencil-square-o"></i>&nbsp;修改
                </button>
                <button v-if="hasPermission('product:delete')" class="layui-btn layui-btn-danger" @click="del"><i
                        class="fa fa-trash-o"></i>&nbsp;删除
                </button>
            </div>
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>

        <div v-show="!showList" class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品名称</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="product.name" placeholder="产品名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品类型</div>
                    <div class="col-sm-10">
                        <ul id="menuTree" class="ztree"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品图片</div>
                    <div class="col-sm-10">
                        <input id="upload" type="text" class="form-control" readonly="readonly" v-model="product.picture" placeholder="产品图片"/><span style="color: red;padding-top: 2px;">*点击输入框进行上传</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">产品详情</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="product.details" placeholder="产品详情"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="../public/js/define/product.index.js"></script>
</body>
</html>